.home-page-user {
    display: flex;
    background: var(--light-gray);
}

.box-home-user {
    width: 70vw;
    height: 70vh;
    margin: auto;
    background: rgba(203, 190, 176, 0.5);
    border: 1px solid #8C6C4D;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.content-box-home-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo-home{
    width: 350px;
    padding: 50px 0;
}

.content-box-home-user p{
    color: var(--white-smoke);
    text-shadow: 1px 1px 2px #3c3c3c;
    font-size: 30px;
    margin-bottom: 20px;
    width: 80%;
    font-weight: 600;
}

