.cadastrar-doacao {
    display: flex;
}

.cadastrar-doacao h2 {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: left;
    height: 80px;
    color: #3c3c3c;
    padding-left: 25px;
    font-weight: 600;
}

.cadastrar-doacao .box-busca-cadastro {
    height: 65vh;
}

.container-select-cadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 450px;
    padding-left: 10px;
}

.select-cadastro {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.select-cadastro select,
.select-cadastro input {
    width: 100%;
}

.btn-cadastro {
    justify-content: flex-end;
}

.btn-cadastro button {
    width: 300px;
}

.box-resultado {
    display: flex;
}

.cadastrar-doacao .mensagem-doacao-efetuada {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
}

.cadastrar-doacao table {
    border-collapse: collapse;
    margin: 20px;
    color: #3c3c3c;
}

.cadastrar-doacao th{
    background-color: #3c3c3c3c;
}

.cadastrar-doacao th,
.cadastrar-doacao td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(124, 124, 124, 0.434);
}